@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  /* Main Colours */
  --black: #101010;
  --white: #f9f9f9;
  --gray: #7c7c7c;

  /*------------------------------------------------------------- Secondary Colours----------------------------------------------------------------- */
  --black-2: #242c2c;
  --gray-2: #eaeded;
  --accent: #289357;
}

body::-webkit-scrollbar {
  display: none;
}

.three-cards {
  background-color: var(--gray-2);
  border-radius: px;
}

.input-md {
  border: 1px solid var(--black);
  border-radius: 0;
  padding: 1rem;
}
.input-md:focus {
  border: 1px solid var(--accent);
  outline: none;
  padding: 1rem;
}

.inputLabel {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0px;
}

/* ----------------------------------------------Fonts & things that has to do with text---------------------------------------------------- */
.logo-lg {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 28px;
  letter-spacing: -1px;
}

.logo-lg:hover {
  background-color: var(--accent);
}

.title {
  font-family: "Roboto Condensed";
  font-weight: 400;
}

.text-xl {
  font-size: 34px;
}

.text-lg {
  font-family: "Roboto Condensed";
  font-weight: 200;
  font-size: 28px;
  letter-spacing: -1px;
}

.text-md {
  font-family: "Roboto Condensed";
  font-weight: 200;
  font-size: 26px;
  letter-spacing: -1px;
}
.poppins {
  font-family: "Poppins";
}

.light {
  font-weight: 300;
}

.gray-text {
  color: var(--gray);
}

.bold {
  font-weight: 600;
}

.annText {
  font-family: "Roboto Condensed";
  letter-spacing: 0px;
  font-weight: 400;
  letter-spacing: -1px;
}

.landingHeader {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 34px;
  letter-spacing: -1px;
}

.mbl {
  font-size: 22px;
}

.protoText {
  font-family: "Poppins";
  font-weight: 400;
  color: var(--gray);
  font-size: 20px;
  letter-spacing: -1px;
}

.protoMbl {
  font-family: "Poppins";
  font-weight: 400;
  color: var(--black-2);
  font-size: 16px;
  letter-spacing: -1px;
}

.offersOptions {
  font-family: "Poppins";
  font-weight: 300;
  color: var(--gray);
  font-size: 28px;
  letter-spacing: -1px;
}

.activeOptions {
  color: var(--accent);
  font-weight: 600;
}

.bg-black {
  background-color: var(--black);
  color: var(--white);
}

/* --------------------------------------------------------------- Buttons----------------------------------------------------------------- */
.button-md {
  font-family: "roboto";
  font-size: 24px;
  letter-spacing: 0px;
  font-weight: bold;
  color: var(--white);
  height: 2.5rem;
  background-color: var(--accent);
}

.button-md:hover {
  background-color: var(--black);
}

.watermark {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 10px;
  font-size: small;
}

.border-dark {
  border-color: var(--black);
}

.watermark a:hover {
  color: blue;
}

/* -----------------------------------------------------------------Interactions----------------------------------------------------------- */
input::selection {
  background-color: var(--accent);
}

p::selection {
  background-color: var(--accent);
}

img::selection {
  background-color: var(--accent);
}

h1::selection {
  background-color: var(--accent);
}

button::selection {
  background-color: var(--accent);
}

label::selection {
  background-color: var(--accent);
}
