@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --black: #101010;
  --white: #f9f9f9;
  --gray: #f0f0f0;

  /* For accents */
  --accent: #289357;
}

.input-md {
  border: 1px solid var(--black);
  border-radius: 0;
  padding: 1rem;
}
.input-md:focus {
  border: 1px solid var(--accent);
  outline: none;
  padding: 1rem;
}

.logo-lg {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 28px;
  letter-spacing: -1px;
}

.inputLabel {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0px;
}

.logo-lg:hover {
  background-color: var(--accent);
}

.text-lg {
  font-family: "Roboto Condensed";
  font-weight: 200;
  font-size: 28px;
  letter-spacing: -1px;
}

.text-md {
  font-family: "Roboto Condensed";
  font-weight: 200;
  font-size: 26px;
  letter-spacing: -1px;
}

.bg-black {
  background-color: var(--black);
  color: var(--white);
}

.bold-lg {
  font-family: "Roboto Condensed";
  font-size: 27px;
  letter-spacing: 0px;
  font-weight: 600;
  letter-spacing: -1px;
}

.bold {
  font-weight: 600;
}

.annText {
  font-family: "Roboto Condensed";
  letter-spacing: 0px;
  font-weight: 400;
  letter-spacing: -1px;
}

.button-md {
  font-family: "roboto";
  font-size: 24px;
  letter-spacing: 0px;
  font-weight: bold;
  color: var(--white);
  height: 2.5rem;
  background-color: var(--accent);
}

.button-md:hover {
  background-color: var(--black);
}
.watermark {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 10px;
  font-size: small;
}

.border-dark {
  border-color: var(--black);
}

.watermark a:hover {
  color: blue;
}

.visible {
  visibility: hidden;
}

input::selection {
  background-color: var(--accent);
}

p::selection {
  background-color: var(--accent);
}

img::selection {
  background-color: var(--accent);
}

h1::selection {
  background-color: var(--accent);
}

button::selection {
  background-color: var(--accent);
}

label::selection {
  background-color: var(--accent);
}

@media only screen and (max-width: );
